<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ToReference -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="toreference.presentation.ToreferenceModelWizardID"
            name="%_UI_ToreferenceModelWizard_label"
            class="toreference.presentation.ToreferenceModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ToreferenceModelFile.gif">
         <description>%_UI_ToreferenceModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ToReference -->
      <editor
            id="toreference.presentation.ToreferenceEditorID"
            name="%_UI_ToreferenceEditor_label"
            icon="icons/full/obj16/ToreferenceModelFile.gif"
            extensions="toreference"
            class="toreference.presentation.ToreferenceEditor"
            contributorClass="toreference.presentation.ToreferenceActionBarContributor">
      </editor>
   </extension>

</plugin>
