<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ToReference -->
      <package
            uri="http://dreiucker.net/toreference"
            class="toreference.ToreferencePackage"
            genModel="model/ToReference.genmodel"/>
   </extension>

</plugin>
